{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

	{# <pre>
{{dump(contenuPanier)}}
</pre>
	<pre>
{{dump(panierPlat)}}
</pre> #}

	{% if contenuPanier is empty %}
		<div class="d-flex flex-wrap justify-content-center">
			<h3>Votre panier est vide.</h3>
		</div>	
		<div class="d-flex flex-wrap justify-content-center"  style="margin-bottom: 500px;">
			<img src="/img/3v7fur.png" alt="-_-" style="height: 150px; width: 150px; margin-top: 15px;">
		</div>	
	{% else %}
		<div class="d-flex flex-wrap justify-content-center">
			<h3>Panier</h3>
		</div>
		<div class="d-flex flex-wrap justify-content-center">
			<a href="{{path ('panier_vider')}}" id="btn-style" style="margin-top: 10px;">Vider le panier</a>
		</div>
		<div class="d-flex flex-wrap justify-content-center">
			{% for plat in panierPlat %}
				<div class="card text-bg-dark my-5 pt-3 px-2 mx-5 col-3" style="width: 16rem; " id="card-body">
					<img src="{{asset ('img/food/')}}{{ plat.image }}" class="img-fluid card-img-top" alt="{{ plat.libelle }}">
					<div class="card-body">
						<h5 class="card-title" id="card-text">{{ plat.libelle }}</h5>
						<p class="card-text" id="card-text">{{ plat.description }}<br><br>{{ plat.prix }} €<br>
							<button class="btn-cart" onclick="diminuerQuantite({{ plat.id }})"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-dash" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/><path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/></svg></button>
							<span id="quantite-{{ plat.id }}">{{ contenuPanier[plat.id] ?? 0 }}</span>
							<button class="btn-cart" onclick="augmenterQuantite({{ plat.id }})"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/><path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/></svg></button>
							<a href="{{path ('panier_suppression', {'id': plat.id})}}" class="btn-cart" style="margin-left: 90px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16"><path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"/><path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/></svg></a>
						</p>
					</div>
				</div>
			{% endfor %}
	{% endif %}
	</div>
	
	{% if contenuPanier is not empty %}
	{% if app.user %}
	{% if app.user.nom is null and app.user.prenom is null and app.user.telephone is null and app.user.adresse is null and app.user.cp is null and app.user.ville is null %}
		<div class="d-flex flex-wrap justify-content-center">
		<h5>renseigner d'abord vos informations personnelles !</h5>
		</div>
		<div class="d-flex flex-wrap justify-content-center">
		<a href="{{path ('app_profil')}}">Profil</a>
		</div>
	{% else %}
	<div class="d-flex flex-wrap justify-content-center">
		<a href="{{path ('app_commande')}}" id="btn-style" class="btn btn-primary">Commander</a>
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
{% endblock %}
