{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
	<form action="{{ path('app_login') }}" method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
			<div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 70px;">
				<div class="card my-5 pt-3 px-2 mx-5 col-3" style="width: 20rem;" id="card-connexion">
					<div class="card-body">
						<h5 class="card-title" id="card-text">Connexion</h5>
						<p class="card-text">
							<label for="inputEmail">Adresse mail :</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							<label for="inputPassword">Mot de passe :</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required><br>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                {#
							        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
							        See https://symfony.com/doc/current/security/remember_me.html
							
							        <div class="checkbox mb-3">
							            <label>
							                <input type="checkbox" name="_remember_me"> Remember me
							            </label>
							        </div>
							    #}
							<button class="btn btn-lg btn-primary" type="submit" id="btn-style" style="margin-left: 65px;">Se connecter <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-bottom: 4px;" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16"><path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/><path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/></svg></button><br><br>
						</p>
					</div>
				</div>
			</div>
	</form>
	<div class="d-flex flex-wrap justify-content-center">
		<a href="{{path ('app_register')}}" id="btn-style">Inscription <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-bottom: 4px;" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16"><path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/><path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/></svg></a>
	</div>
{% endblock %}