{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{# <pre>
    {{ dump(app.user) }}
</pre> #}
{# <pre>
    {{ dump(commande) }}
</pre> #}
{# <pre>
    {{ dump(detail) }}
</pre> #}
{# <pre>
  {{ dump(plat) }}
</pre> #}

{% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_SUPER_ADMIN' in app.user.roles %}
    <div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 670px;">
        <a href="{{path ('app_admin')}}" id="btn-style">Dashboard <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-bottom: 5px;" fill="currentColor" class="bi bi-window" viewBox="0 0 16 16"><path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/><path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm13 2v2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zM2 14a1 1 0 0 1-1-1V6h14v7a1 1 0 0 1-1 1H2z"/></svg></a>
    </div>
{% else %}
    {% if app.user.nom is null and app.user.prenom is null and app.user.telephone is null and app.user.adresse is null and app.user.cp is null and app.user.ville is null %}
        <div class="d-flex flex-wrap justify-content-center">
            <h3>Veuillez renseigner vos informations personnelles !</h3>
        </div>
        <div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 10px;">
            <img src="/img/3v7fur.png" alt="-_-" style="height: 50px; width: 50px;">
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card" style="width: 18rem;" id="card-modification">
                <div class="card-body">
                    <h5 class="card-title" id="card-text">Vos informations <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" style="margin-bottom: 4px" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5ZM9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8Zm1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Zm-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5ZM7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0Z"/></svg></h5>
                    <p class="card-text">
                        <form action="{{path ('app_profil')}}" method="POST">
                            <label for="nom">Nom</label>
                            <input type="text" name="nom" required>

                            <label for="prenom">Prénom</label>
                            <input type="text" name="prenom" required>

                            <label for="telephone">Téléphone</label>
                            <input type="text" name="telephone" required>

                            <label for="adresse">Adresse</label>
                            <input type="text"name="adresse" required>

                            <label for="cp">Code postal</label>
                            <input type="text" name="cp" required>

                            <label for="ville">Ville</label>
                            <input type="text" name="ville" required>

                            <input type="hidden" name="id_user" value="{{ app.user.id }}">
                            <button type="submit" id="btn-style" style="margin-top: 10px; margin-left: 75px;">Ajouter <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-bottom: 4px" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16"><path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/></svg></button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card" style="width: 18rem; margin-bottom: 10px;" id="card-info">
                <div class="card-body">
                    <h5 class="card-title">Profil <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-bottom: 4px;" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/></svg></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary" id="card-text">Vos informations <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-bottom: 4px;" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5ZM9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8Zm1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Zm-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5ZM7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0Z"/></svg></h6>
                    <p class="card-text">{{app.user.nom}} {{app.user.prenom}}<br><br>{{app.user.email}}<br>{{app.user.telephone}}<br><br>{{app.user.adresse}}<br>{{app.user.cp}}<br>{{app.user.ville}}</p>
                    <button id="modif-info">Modifier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-bottom: 4px;" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5ZM9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8Zm1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Zm-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5ZM7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0Z"/></svg></button>
                        <div id="modif" style="display: none;">
                            <form action="{{path ('app_profil')}}" method="POST">
                                <label for="nom">Nom</label>
                                <input type="text" name="nom" placeholder="{{app.user.nom}}" required>

                                <label for="prenom">Prénom</label>
                                <input type="text" name="prenom" placeholder="{{app.user.prenom}}" required>

                                <label for="telephone">Téléphone</label>
                                <input type="text" name="telephone" placeholder="{{app.user.telephone}}" required>

                                <label for="adresse">Adresse</label>
                                <input type="text" name="adresse" placeholder="{{app.user.adresse}}" required>

                                <label for="cp">Code postal</label>
                                <input type="text" name="cp" placeholder="{{app.user.cp}}" required>

                                <label for="ville">Ville</label>
                                <input type="text" name="ville" placeholder="{{app.user.ville}}" required>

                                <input type="hidden" name="id_user" value="{{ app.user.id }}">
                                <button type="submit" id="btn-style" style="margin-top: 10px; margin-left: 75px; margin-bottom: 15px;">Modifier <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-bottom: 4px" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16"><path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/></svg></button>
                            </form>
                        </div>
                    <button id="modif-email">Modifier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-bottom: 4px;" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16"><path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/><path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/></svg></button>
                    <div id="modif-e" style="display: none;">
                        <form action="{{path ('app_profil')}}" method="POST">
                            <label for="email">Adresse mail</label>
                            <input type="email" name="email" placeholder="{{app.user.email}}" required>

                            <label for"password">Mot de passe</label>
                            <input type="password" name="password" required>

                            <input type="hidden" name="id_user" value="{{ app.user.id }}">
                            <button type="submit" id="btn-style" style="margin-top: 10px; margin-left: 75px; ">Modifier <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-bottom: 4px" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16"><path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/></svg></button>
                        </form>
                    </div>
                    <br><br>
                    <a href="{{path ('app_profil', {'id': app.user.id})}}" id="btn-style-2" style="text-decoration: none;">Suppression du compte <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" style="margin-bottom: 4px;" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16"><path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/></svg></a>
                </div>
            </div>
        </div>
        {% for c in commande|sort((a, b) => b.getDateCommande() <=> a.getDateCommande()) %}
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card" style="width: 18rem; margin-bottom: 5px; margin-top: 5px;" id="card-commande">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-bottom: 15px;">Commande du {{c.getDateCommande().format('d/m/Y')}}</h5>
                        <p class="card-text">
                            {% for p in plat %}
                                {% for d in detail %}
                                    {% if c.id == d.commande.id %}
                                        {% if p.id == d.plat.id %}
                                            {{p.libelle}}<br>Quantité : {{d.quantite}}<br><br>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {{c.total}}€<br><br>
                            {% if c.etat == 0 %}Enregistré{% endif %}
                            {% if c.etat == 1 %}En préparation{% endif %}
                            {% if c.etat == 2 %}En cours de livraison{% endif %}
                            {% if c.etat == 3 %}Livrée{% endif %}
                            {% if c.etat == 4 %}Annulée{% endif %}
                        </p>
                        {% if c.etat != 4 and c.etat != 3 %}
                            <a href="{{ path('app_profil', {'id': c.id, 'etat': 4}) }}" class="card-link">Annuler la commande <img src="/img/7ry4cj.jpg" alt="-_-" style="height: 26px; width: 35px; margin-bottom: 3px;"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}
<script>
$('#modif-info').click(function() {
    $('#modif').toggle();
  });
</script> 
<script>
$('#modif-email').click(function() {
    $('#modif-e').toggle();
  });
</script> 
{% endblock %}
