{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
 <div class="d-flex flex-wrap justify-content-center">
<div class="card my-5 pt-3 px-2 mx-5 col-3" style="width: 30rem;" id="card-inscription">
<div class="card-body">
<h5 class="card-title" id="card-text">Contactez-nous :</h5>
<p class="card-text">
    {{ form_start(form) }}
            {{ form_row(form.email) }}

            {{ form_row(form.objet) }}

            {{ form_row(form.message) }}
    {{ form_end(form) }}
</p>
  </div>
</div>
</div>
{% endblock %}
